.dream
  %h3{class: "h4#{' h5' if dream.caption.size > 30}"}
    = link_to '... ' + dream.caption, dream_path(dream)
  .strong.small.text-white
    - if dream.embraces.count == 1
      = t('main.variations.one_person_would_do_that')
    - elsif dream.embraces.count > 1
      = t('main.variations.n_people_would_do_that', n: dream.embraces.count)
  .text-right
    = render 'embraces/embrace_button', dream: dream
