%section.container-fluid
  .row.form-wrapper.narrow-centered
    .col-lg-12
      %h1 Resend unlock instructions
      = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .form-group
          .field
            = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
            = f.label :email
        .form-group
          .actions
            = f.submit 'Resend unlock instructions'
= render 'devise/shared/links'
