- embraces.each do | embrace |
  .embrace.d-block
    .float-right
      .text-right
        = render 'embraces/embrace_button', dream: embrace.dream
    %div
      %blockquote.blockquote
        = link_to user_path(embrace.user), class: 'float-left', style: 'width: 60px; height: 60px;' do
          = image_tag quadratic_image_path(embrace.user.avatar_url, 150), class: 'img-fluid rounded-circle'
        %div{style: 'padding: 0 120px 0 80px;'}
          %p.mb-0{class: "#{' small' if embrace.dream.caption.size > 50}"}= t('main.partials.i_would') + ' '+ embrace.dream.caption
          %footer.blockquote-footer
            %strong= embrace.user.public_name
            = t('dictionary.time_ago', time: distance_of_time_in_words(Time.now - embrace.created_at))
            - if embrace.dream.embraces.count == 2
              |
              = t('main.variations.one_person_would_do_that_too')
            - elsif embrace.dream.embraces.count > 2
              |
              = t('main.variations.n_people_would_do_that_too', n: embrace.dream.embraces.count-1)
