- embraces.each do | embrace |
  .embrace.d-block
    .float-right
      .text-right
        = render 'embraces/embrace_button', dream: embrace.dream
    %div
      %blockquote.blockquote
        = link_to user_path(embrace.user), class: 'float-left' do
          = image_tag quadratic_image_path(embrace.user.avatar_url, 60), class: 'img-fluid rounded-circle'
        %div{style: 'padding: 0 120px 0 80px;'}
          %p.mb-0{class: "#{' small' if embrace.dream.caption.size > 50}"}= embrace.dream.caption
          %footer.blockquote-footer
            %strong= embrace.user.public_name
            = t('dictionary.time_ago', time: distance_of_time_in_words(Time.now - embrace.created_at))
