%section.container-fluid
  .row.form-wrapper.narrow-centered
    .col-lg-12
      %h1= t('devise.dictionary.forgot_your_password')
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .form-group
          .field
            = f.email_field :email, placeholder: :email, autofocus: true, autocomplete: 'email', class: 'form-control'
            = f.label :email, t('devise.dictionary.email')
        .actions
          = f.submit t('devise.dictionary.send_me_password_reset_instructions'), class: 'btn btn-primary form-control'
= render 'devise/shared/links'
