%section.container-fluid
  .row
    .col-sm-12.col-lg-3
      %h1.pb-3= t('navigation.about')
      %p.text-muted.small
        Meu Rendimento Básico
        %br
        c/o Porto i/o
        %br
        Rua Cândido dos Reis 81
        %br
        4050-152 Porto, Portugal
        %br
    .col-sm-12.col-lg-6
      %p= t('pages.about.description')
      %p= t('pages.about.support')
      %h3.h5.mt-5= t('pages.about.how_can_i_help')
      %ul
        %li= t('pages.about.come_to_check_ins_html', url: pages_calendar_path)
        %li= t('pages.about.join_facebook_group_html', url: ENV['FACEBOOK_GROUP_URL'])
        %li= t('pages.contact.via_email_html', email: ENV['CONTACT_EMAIL_ADDRESS'])
      %p.pt-5
      = render 'dreams/form', title: t('main.variations.and_you_what_would_you_do'), dream: Dream.new
