%section.container-fluid
  .row
    .col-sm-12.col-lg-3
      %h1.pb-3= t('navigation.calendar')
      %p.pb-4
        = t('pages.calendar.description')
    .col-sm-12.col-lg-9
      - @events.each do | event |
        - @is_future_event = event[:date] > Time.zone.now
        .embrace.d-block
          %div
            %blockquote.blockquote
              .text-center.float-left.ml-3
                %h4.display-5
                  %span.badge.badge-secondary{style: "#{@is_future_event?'background-color: #b2317a;':''}"}
                    = DateTime.parse(event[:date]).strftime('%-d')
                %h6
                  = t('date.abbr_month_names')[DateTime.parse(event[:date]).strftime('%-m').to_i].upcase
                  %small.d-block.text-muted
                    = DateTime.parse(event[:date]).strftime('%Y')
              %div{style: 'padding: 0 20px 0 80px;'}
                %h2.h5.mb-1
                  %small.d-block.mb-1
                    = event[:category].upcase if event[:category]
                  -if @is_future_event
                    = link_to event[:url], target: '_blank' do
                      = event[:title]
                  -else
                    %span.text-muted
                      = event[:title]
                %ul.list-inline.text-muted
                  %li.list-inline-item
                    %i.fa.fa-map-marker-alt{'aria-hidden': true}
                    = "#{event[:city]}, #{event[:location]}"
                  %li.list-inline-item
                    %i.fa.fa-clock{'aria-hidden': true}
                    %time{datetime: event[:date]}
                      = DateTime.parse(event[:date]).strftime('%Hh%M')
                %footer.blockquote-footer
                  %strong= event[:author]
                  = t('dictionary.events.organized_by')
                  = event[:organizer]
                  -if event[:url]
                    = '&nbsp;// '.html_safe
                    = link_to t('dictionary.more_information'), event[:url], target: '_blank'
